bin/* filter=lfs diff=lfs merge=lfs -text
include/* filter=lfs diff=lfs merge=lfs -text
lib/* filter=lfs diff=lfs merge=lfs -text
models/* filter=lfs diff=lfs merge=lfs -text
presets/* filter=lfs diff=lfs merge=lfs -text
